/*
   CSS styling examples for the Vaadin app.
   Visit https://vaadin.com/docs/flow/theme/theming-overview.html and
   https://vaadin.com/themes/lumo for more information.
*/

:root {
  --material-primary-text-color: #009bee;
  --material-primary-color: #009bee;
}

#navbarTop {
  background: rgba(0, 155, 238, 0.54);
}

.centered-content {
  margin: 0 auto;
  max-width: 250px;
}

